

<div class="container p-5">
  <h1 class="text-center my-5">Take a photo of your plant!</h1>

  <%= form_tag fetch_api_my_plants_path(garden_id: @garden.id), class: "d-flex align-items-center flex-column photo-upload", method: :post, multipart: true do %>
    <%=  file_field_tag :photo%>
    <%= submit_tag "UPLOAD", class: "btn btn-primary mt-4", id: "photo-send", data: {disable_with: 'Fetching plant info...' } %>
  <%end%>

</div>












<!-- [...] -->

<%# <%= form_tag garden_my_plants_path, class: "d-flex m-3", method: :get do %>
<%# <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a plant"
  %>
   <%# <%= submit_tag "Search", class: "btn btn-primary" %>
 <%# <% end %>

<!-- the list of plants -->

<%# <% @my_plants.each do |plant| %>
  <%# <div class="container"> %>
    <%# <%= cl_image_tag plant.photo.key, height: 300, width: 400, crop: :fill, class: "plant_search_thumbnail" %>
    <%# <p><%= plant.nickname</p> %>
  <%# </div> %>
<%# <% end %>
